In [40]:
import json, copy, re
import pandas as pd

In [41]:
specialties_groups = {
    'Biology and Agriculture': ['Actinobactéries', 'Agrophysiologie', 'Besoin en eau des cultures', 'Biotechnologies végétales', 'Lipids quality and technology', 'Ressources en eau', 'Soil Moisture', 'Valorization and Conservation of Medicinal and Aromatic Plants'],
    'Chemistry and Materials Science': ['Adsorption', 'Apatites', 'Bioactive compounds', 'Biomaterials', 'Calcium Phosphates', 'Clays & chemical pollutants', 'Membrane separation', 'Nanocomposites', 'Traditional ceramics'],
    'Computer Science and Engineering': ['Computational Fluid Dynamics', 'Control theory: controllability and stabilization', 'Drug Delivery', 'Emulsification', 'PV', 'Remote sensing', 'Smart irrigation', 'Water treatment', 'Wastewater treatment and reuse'],
    'Geoscience': ['Desalination', 'Evapotranspiration', 'Geoscience', 'Hydrogéologie', 'Hydrologie nivale', 'Land-atmosphere interactions', 'Remote sensing', 'Tectonic and Regional Geology'],
    'Physics': ['Energy Efficiency in Buildings', 'Heat and Mass Transfer', 'Physics'],
    'Mathematics and Modeling': ['Computational Fluid Dynamics', 'Modèles', 'Modélisation des systèmes complexes et analyse mathématique'],
    'Microbiology': ['Biotechnologie microbienne', 'Production d\'antibiotique', 'Solubilisation des phosphates'],
}

In [42]:
with open("./generated/faculty_specialty.json", 'r') as file:
    data = json.load(file)

In [43]:
faculty_specialty = []
for ind, item in enumerate(data):
    specialties = [item.strip() for item in item["Spciality"].split(',')]
    for specialty in specialties:
        if len(specialty) == 0: continue
        faculty_specialty.append({
            "Faculty": item["faculty"],
            "Specialty": specialty
        })
faculty_specialty_df = pd.DataFrame(faculty_specialty)

In [44]:
# Create a contingency table using crosstab
contingency_table = pd.crosstab(faculty_specialty_df['Faculty'], faculty_specialty_df['Specialty'])
# Display the contingency table
contingency_table

Specialty,Actinobactéries,Adsorption,Agricultural Sciences,Agrophysiologie,Apatites,Besoin en eau des cultures,Bioactive compounds,Biomaterials,Biotechnologies végétles,Calcium Phosphates,...,modélisation des systèmes complexes et analyse mathématique,nanocomposites,physique,production d'antibiotique,remote sensing,semi-aride,smart irrigation,solubilisation des phosphate,traditional ceramics,télédétection
Faculty,,,,,,,,,,,,,,,,,,,,,
ENSA,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
FSSM,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
FSTG,0,0,1,1,0,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,1
Other,1,1,0,0,1,1,1,1,1,1,...,1,1,0,1,0,1,1,1,1,1

In [45]:
contingency_table.to_csv("generated/contingency_table--faculty_specialty.csv")

In [60]:
faculty_specialty_grouped = [
    {"Faculty": item["faculty"], "Specialty": group}
    for item in data
    for specialty in [item.strip() for item in item["Spciality"].split(',')]
    if len(specialty) > 0
    for group, specialties in specialties_groups.items()
    if specialty in specialties
]

df_faculty_specialty_grouped = pd.DataFrame(faculty_specialty_grouped)

In [61]:
# Create a contingency table using crosstab
contingency_table2 = pd.crosstab(df_faculty_specialty_grouped['Faculty'], df_faculty_specialty_grouped['Specialty'])
# Display the contingency table
contingency_table2

Specialty,Biology and Agriculture,Chemistry and Materials Science,Computer Science and Engineering,Geoscience,Mathematics and Modeling,Physics
Faculty,,,,,,
ENSA,1,0,1,3,0,1
FSSM,1,0,0,0,0,0
FSTG,1,0,0,3,0,0
Other,4,6,7,2,1,2

In [64]:
contingency_table2.to_csv("generated/contingency_table--faculty_specialty-v2.csv")